@media (min-width: 751px) and (max-width: 1058px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;

    }

    header nav div h1 {
        display: none;
    }

    .cadastre {
        display: none;
    }

    .container {
        width: 99%;
    }

    .container2 {
        width: 95%;
    }

    .banner-options {
        height: auto;
    }

    select {
        width: 32%;
    }

    button {
        width: 15%;
    }

    input {
        width: 30%;
    }

    .cidade, .estado {
        width: 26%;
    }

    .container3 {
        width: 95%;
        justify-content: space-evenly;
    }

    .caes-adocao {
        margin: 10px 0px;
    }

    .section2 {
        margin-top: 50px;
    }

    .boxs-aside{
        flex-basis: 100%;
        height: auto;
    }
    
    article {
        flex: 1;
    }
}

@media (min-width: 1058px) and (max-width: 1188px) {

    footer {
        margin-top: 30px;
    }

    .boxs-aside{
        flex-basis: 80%;
        height: auto;
    }

    .container-aside {
        justify-content: center;
    }

    li {
        margin-left: 00px;
    }

    header nav {
        justify-content: space-evenly;
    }

    nav a {
        padding: 18px 15px;
    }

}

@media (max-width: 750px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;

    }
    
    .banner-headline {
        padding: 20px;
    }

    .banner-headline .slogan {
        font-size: 50px;
    }

    .banner-headline .slogan2 {
        font-size: 15px;
    }

    .container {
        width: 100%;
        border: 1px rgb(0, 255, 55) solid;
    }

    .banner-options {
        margin-top: 400px;

        height: auto;
        flex-direction: column;
    }

    .container-artigos {
        flex-direction: column;

        
    }

    article {
        flex: 1;
    }

    

    .section3 {
        margin-top: 600px;
    }

    .title-adocao {
        display: flex;
        justify-content: center;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
   
    }

    select {
        width: 100%;
    }

    .cidade, .estado {
        width: 100%;
    }

    input {
        width: 100%;
    }

    form button {
        margin-top: 20px;
        width: 100%;
    }

    .container2 {
        width: 95%;
        
    }

    .baner {

        background-image: url(https://img.freepik.com/fotos-gratis/retrato-de-cao-pastor-alemao-em-iluminacao-gradiente_23-2149277188.jpg?w=360&t=st=1690229705~exp=1690230305~hmac=7792a322aa4ea506897776e9db53be58f982373c1aed153fbc41f672a8f8a06a);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .section4 {
        margin-top: 20px;
    }

    .rodape-informacoes {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .infos p {
        font-size: 18px;
    }

    .infos a {
        font-size: 17px;
    }

    .container3 {
        width: 95%;
    }

    .caes-adocao {
        flex: 46%;
        height: auto;
    }

    .rodape {
        margin-top: 20px;
    }

    .navpt1 ul {
        flex-direction: column;

        padding: 20px;
        display: none;
        position: absolute;
        right: 0;
        width: 100%;
        background-color: #ffffff;
    }
/* 
    .navpt1 ul li {
        margin-top: 100px;
    } */
    .logo-main {
        order: 2;
    }

    .cadastre {
        display: none;
    }


    .menu-mobile {
        display: block;
        width: 40px;
        height: 40px;

        /* background-color: #222; */

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mm-line {
        background-color: #9ca3af;
        width: 20px;
        height: 3px;

        margin: 2px;
        border-radius: 2px;
    }

    .logo-main img {
        width: 50px;
    }

    .logo-main h1{
        font-size: 18px;
    }
}

@media (max-width: 460px) {

    html, body {
        max-width: 100%;
        overflow-x: hidden;

    }

    .banner-headline {
        align-items: center;
    }

    .banner-headline .slogan {

        font-size: 40px;
        
    }

    .boxs-aside{
        flex-basis: 100%;
        height: auto;
    }

    .direitos {
        padding: 10px;
    }
}

    