@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;

}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
}

header {
    background-color: #f3f4f6;
    padding-bottom: 30px;
}

nav a {
    padding: 18px 23px;
    font-weight: bold;
    color: #0079c7;
}

nav a:hover {
    color: #22C3E6;
    transition: 0.5s all;
}

/* nav .active a, nav a:hover {
    background-color: #39aae1;
    color: #ffffff;

    transition: 0.5s all;

    border-radius: 3px;
} */


header nav {
    display: flex;
    align-items: center;

    justify-content: space-around;

    padding-top: 20px;

    
}

header nav div {
    display: flex;
    align-items: center;
    
}

header nav div h1 {
    margin-top: 12px;
    margin-left: 10px;
    color: #22C3E6;
}

nav ul .cadastre a {
    /* border-radius: 0.375rem; */
    border-color: #0079c7;

    background-color: #39aae1;
    color: #ffffff;

    transition: 0.5s all;

    border-radius: 3px;
}

.cadastre a:hover {
    background-color: #148cdb;
}

li {
    margin-top: 17px;
    margin-left: 10px;
}

ul {
    display: flex;
    
}


.baner {
    width: 100%;
    height: 670px;
    
    background-image: url(../imagens/Banner-dogs.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
}

.container {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.banner-headline {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.slogan {
    color: #ffffff;
    font-size: 70px;
    max-width: 650px;

    text-shadow: 0px 1px 0 #555555;
    
}

.slogan2 {
    font-size: 20px;
    color: #ffffff;
    max-width: 370px;

    margin-top: 15px;
    text-shadow: 0px 1px 0 #555555;
}

.banner-options {
    height: 210px;

    display: flex;
}

.banner1, .banner2, .banner3 {
    flex: 1;
    padding: 20px;

    color: #ffffff;

    font-size: 18px;
}

.banner1 {
    background-color: #39aae1;

}

/* .banner1:hover, .banner2:hover, .banner3:hover {
    transform: scale(1.1);
    transition: 0.3s all;
} */

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.banner3 div {
    margin-top: 20px;
    
    display: flex;
    justify-content: space-between;

    width: 90%;

    padding: 5px;

    border-bottom: 1px #39aae1 solid;
}

h3 {
    font-weight: 400;
}

.description {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 15px;
}

.description3 {
    font-size: 15px;
}

.botao {
    border: 1px #ffffff solid;
    padding: 5px;
    display: inline-block;

    color: #ffffff;

    font-size: 15px;
}

.section2, .section3, .section4 {
    display: flex;
    justify-content: center;

}

.section3 {
    margin-top: 100px;
}

.container2, .container-artigos {
    width: 85%;
    display: flex;
}

.container3 {
    width: 85%;
    flex-wrap: wrap;
    display: flex;

    justify-content: space-between;

    margin-top: 50px;
}

.aba1 {
    flex: 2;
}

.aba2 {
    flex: 1;
}

.aside-boxs {
    border: 1px #dfdfdf solid;
    padding: 10px;
    padding-bottom: 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background-color: #ffffff;
}

.widget-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.linha-text {
    width: 55px;
    height: 2px;

    background-color: #22C3E6;

    margin-top: 10px;
}

.widget-title h4 {
    font-size: 23px;
    font-weight: bold;
}

.datanews {
    display: flex;
}

.newposted {
    background-color: #2b4c99;
    color: #ffffff;
    font-size: 12px;

    padding: 10px;
}

.newcomments {
    background-color: #39aae1;
    color: #ffffff;
    font-size: 12px;

    padding: 10px;

    margin-left: 3px;
}

.thumb {
    margin-top: 30px;

    border-radius: 3px;
    border: 1px #dfdfdf solid;

    border-bottom: none;
}

.thumb img {
    width: 100%;
    height: auto;

    border-radius: 3px;
}

.title-notice {
    margin-top: 25px;
    margin-bottom: 25px;
}

.title-notice h3 {
    font-weight: 500;
}

.news-resume {
    color: #5c5c5c;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 30px;
}

.widget-body    {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex-basis: 50%;
    min-width: 300px;
    padding-right: 20px;
}

#body-noticies {
    display: flex;
    flex-wrap: wrap;
}

.container-aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}


.boxs-aside {
    min-width: 160px;
    flex-basis: 48%;
    height: 150px;

    margin-bottom: 30px;

    background-color: #0079c7;

    border-radius: 3px;
    border: 1px #dfdfdf solid;
}

.boxs-aside img{
    border-radius: 3px;
    object-fit: cover;
}

.aside-vermais a {
    padding: 7px 12px;

    border: 1px #dfdfdf solid;

    background-color: #ffffff;
    color: #22C3E6;

    transition: 0.5s all;

    border-radius: 3px;
}

.consults-text p{
    font-size: 16px;
}

.container-contato {
    margin-top: 30px;
}

#telefone, #formulario {
    margin-left: 5px;
}

.contatos {
    display: flex;
    align-items: center;

    margin-top: 20px;
}

.contatos p {
    margin-left: 10px;
    font-size: 14px;
}

.rodape {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #0079c7;
}

.rodape-informacoes {
    display: flex;
    justify-content: center;
}

.infos {
    display: flex;
    flex-direction: column;

    margin: 40px;

}

.infos p {
    margin-top: 10px;
    font-weight: bold;
    color: #ffffff;

    font-size: 15px;
}

.infos div {
    margin-top: 10px;
    color: #d7d0d0;
}

.infos a {
    margin-top: 8px;
    color: #ffffff;

    font-size: 14px;
}

.redes img {
    width: 35px;
    margin: 10px;
}

.logo {
    margin-top: 10px;
}

.logo a {
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}

.direitos {
    width: 100%;
    display: flex;
    justify-content: space-around;

    margin-top: 30px;
    margin-bottom: 20px;
}

.direitos p, .direitos a {
    color: #ffffff;

    font-size: 14px;
}

.title-adocao h1 {
    color: #2b4c99;
}

.formu {
    border: 1px #dfdfdf solid;
    border-radius: 10px;
    width: 100%;
    
    margin-top: 30px;

    flex-wrap: wrap;

    padding: 15px 30px 15px 30px;

    align-items: center;
}

.container-section3 {
    width: 100%;
}

select {
    width: 33%;
    height: 45px;

    border-radius: 8px;

    padding: 10px;
    font-size: 16px;

    margin-top: 13px;
    margin-bottom: 13px;
}

.cidade, .estado {
    width: 25%;
}

button, input {
    width: 24%;
    height: 45px;

    border-radius: 8px;

    border: 1px #dfdfdf solid;
}

button {
    background-color: #39aae1;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;

    height: 50px;
    cursor: pointer;

}

button:hover {
    background-color: #148cdb;
    transition: 0.5s all;
}

input {
    padding: 15px;
    font-size: 14px;
}

.caes-adocao {
    width: 231px;
    height: 336px;

    margin-bottom: 20px;

    border: 1px solid #dfdfdf;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.container-imagens-adocao {
    width: 100%;
}

.container-imagens-adocao img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.name-dogos a {
    color: #2b4c99;
    font-size: 18px;

    font-weight: bold;
}

.name-dogos a:hover {
    color: #22C3E6;
}

.name-dogos {
    margin-top: 19px;

    padding-left: 20px;
}

.cidade-dogs {
    color: #6B7280;
    font-size: 14px;

    margin-top: 5px;
    padding-left: 20px;
}

.menu-mobile {
    display: none;
}