@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #ffffff;
    padding-bottom: 30px;
}

nav a {
    padding: 20px 25px;
    font-size: 17px;
    font-weight: bold;
    color: #3b3b3b;
}

nav .active a, nav a:hover {
    background-color: #39aae1;
    color: #ffffff;

    transition: 0.5s all;

    border-radius: 3px;
}

.active {
    margin-right: 5px;
}
    

header nav {
    display: flex;
    align-items: center;

    justify-content: space-around;

    padding-top: 20px;
}

header nav div {
    display: flex;
    align-items: center;
}

header nav div h1 {
    margin-top: 15px;
    margin-left: 10px;
    color: #22C3E6;
}

ul {
    display: flex;
}


.baner {
    height: 670px;
    
    background-image: url(https://img.freepik.com/free-photo/beautiful-pet-portrait-dog_23-2149218452.jpg?w=1380&t=st=1689291048~exp=1689291648~hmac=977a3eef2f751b55974c2b6750c00f64300c7892e5bc766f8cd89d2d0821db63);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
}

.container {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.banner-headline {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.slogan {
    color: #ffffff;
    font-size: 70px;
    width: 650px;

    text-shadow: 0px 1px 0 #555555;
    
}

.slogan2 {
    font-size: 20px;
    color: #ffffff;
    max-width: 370px;

    margin-top: 15px;
    text-shadow: 0px 1px 0 #555555;
}

.banner-options {
    height: 210px;

    display: flex;
}

.banner1, .banner2, .banner3 {
    flex: 1;
    padding: 20px;

    color: #ffffff;

    font-size: 18px;
}

.banner1 {
    background-color: #39aae1;

}

/* .banner1:hover, .banner2:hover, .banner3:hover {
    transform: scale(1.1);
    transition: 0.3s all;
} */

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.banner3 div {
    margin-top: 20px;
    
    display: flex;
    justify-content: space-between;

    width: 90%;

    padding: 5px;

    border-bottom: 1px #39aae1 solid;
}

h3 {
    font-weight: 400;
}

.description {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 15px;
}

.description3 {
    font-size: 15px;
}

.botao {
    border: 1px #ffffff solid;
    padding: 5px;
    display: inline-block;

    color: #ffffff;

    font-size: 15px;
}

.section2 {
    display: flex;
    justify-content: center;
}

.container2 {
    width: 85%;

    display: flex;
}

.aba1 {
    flex: 2;
}

.aba2 {
    flex: 1;

}

.widget-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.linha-text {
    width: 55px;
    height: 2px;

    background-color: #22C3E6;

    margin-top: 10px;
}

.widget-title h4 {
    font-size: 23px;
    font-weight: bold;
}

.datanews {
    display: flex;
}

.newposted {
    background-color: #2b4c99;
    color: #ffffff;
    font-size: 12px;

    padding: 10px;
}

.newcomments {
    background-color: #39aae1;
    color: #ffffff;
    font-size: 12px;

    padding: 10px;

    margin-left: 3px;
}

.thumb {
    margin-top: 30px;
}

.thumb img {
    width: 100%;
    height: auto;
}

.title-notice {
    margin-top: 25px;
    margin-bottom: 25px;
}

.title-notice h3 {
    font-weight: 500;
}

.news-resume {
    color: #5c5c5c;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 30px;
}

.widget-body    {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    padding-right: 20px;
}

#body-noticies {
    display: flex;
    flex-wrap: wrap;
}

.container-aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.boxs-aside {
    min-width: 200px;
    width: 200px;
    height: 150px;

    margin-bottom: 30px;

    background-color: #0079c7;
}

.consults-text p{
    font-size: 16px;
}

.container-contato {
    margin-top: 30px;
}

#telefone, #formulario {
    margin-left: 5px;
}

.contatos {
    display: flex;
    align-items: center;

    margin-top: 20px;
}

.contatos p {
    margin-left: 10px;
    font-size: 14px;
}